<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Price Tracker — Login</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div class="container" id="app">
        <h1>Price Tracker</h1>
        <h2>Login</h2>

        <form @submit="login">
            <div class="user-info">
                <div class="user-info-input">
                    <div class="search-input">
                        <input type="email" placeholder="E-Mail" name="email" v-model="email">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                                fill="rgba(246,84,57,1)" /></svg>

                    </div>
                </div>

                <div class="user-info-input">
                    <div class="search-input">
                        <input type="password" placeholder="Mot de passe" name="password" v-model="password">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M7 10h13a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V11a1 1 0 0 1 1-1h1V9a7 7 0 0 1 13.262-3.131l-1.789.894A5 5 0 0 0 7 9v1zm-2 2v8h14v-8H5zm5 3h4v2h-4v-2z"
                                fill="rgba(246,84,57,1)" /></svg>

                    </div>
                </div>

                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
    <script src="./scripts/login.js" type="module"></script>
</body>

</html>